@import url("type/type.css");
@import url("reset.css");

:root {
  --color-neutral-50: oklch(0.985 0 0);
  --color-neutral-100: oklch(0.97 0 0);
  --color-neutral-200: oklch(0.922 0 0);
  --color-neutral-300: oklch(0.87 0 0);
  --color-neutral-400: oklch(0.708 0 0);
  --color-neutral-500: oklch(0.556 0 0);
  --color-neutral-600: oklch(0.439 0 0);
  --color-neutral-700: oklch(0.371 0 0);
  --color-neutral-800: oklch(0.269 0 0);
  --color-neutral-900: oklch(0.205 0 0);
  --color-neutral-950: oklch(0.145 0 0);

  --color-blue-50: oklch(0.97 0.014 254.604);
  --color-blue-100: oklch(0.932 0.032 255.585);
  --color-blue-200: oklch(0.882 0.059 254.128);
  --color-blue-300: oklch(0.809 0.105 251.813);
  --color-blue-400: oklch(0.707 0.165 254.624);
  --color-blue-500: oklch(0.623 0.214 259.815);
  --color-blue-600: oklch(0.546 0.245 262.881);
  --color-blue-700: oklch(0.488 0.243 264.376);
  --color-blue-800: oklch(0.424 0.199 265.638);
  --color-blue-900: oklch(0.379 0.146 265.522);
  --color-blue-950: oklch(0.282 0.091 267.935);

  --font-safiro: "safiromedium";
  --font-open-sans: "Open Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-safiro);
}

body {
  font-family: var(--font-raleway);
  background-color: var(--color-neutral-50);
}

body {
  --dot-bg: var(--color-neutral-50);
  --dot-color: var(--color-neutral-600);
  --dot-size: 1px;
  --dot-space: 4rem;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

.container {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-50);
  padding: 0 1rem;
}

.header__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 102;
}

.header__logo {
  font-family: var(--font-safiro);
  font-size: 1.5rem;
  text-transform: lowercase;
  color: var(--color-neutral-950);
  transition: color 0.4s ease;
  text-decoration: none;
}

.header__button {
  background-color: var(--color-blue-900);
  border: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
}

.header__button-text {
  color: var(--color-blue-50);
  font-family: var(--font-raleway);
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-blue-900);
  z-index: 101;
  visibility: hidden;
  display: none;
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-navigation__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.main-navigation__link {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: baseline;
  gap: 1rem;
  padding: 1.5rem 0;
  text-decoration: none;
  color: var(--color-blue-50);
  transition: all 0.4s ease;
}

.main-navigation__link:hover {
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-navigation__number {
  font-family: var(--font-raleway);
  font-size: 0.875rem;
  font-weight: 400;
}

.main-navigation__text {
  font-family: var(--font-safiro);
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1;
  text-align: end;
}

.header.active .header__logo {
  color: var(--color-blue-50);
}

.header.active .main-navigation {
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header.active .header__button {
  background-color: var(--color-blue-50);
}

.header.active .header__button-text {
  color: var(--color-blue-950);
}

.site-content {
  width: 100%;
  padding: 1.5rem;
  padding-top: 5rem;
  display: grid;
  gap: 5rem;
}

.hero__content {
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  text-align: left;
}

.hero__title {
  font-size: clamp(2rem, 11vw, 7rem);
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: 1.2;
}

.hero__title-highlight {
  color: var(--color-blue-900);
}

.hero__text {
  line-height: 1.25;
  text-align: left;
  font-weight: 600;
  font-size: clamp(1rem, 4vw, 2rem);
}

.featured-image img {
  aspect-ratio: 18/9;
  object-fit: cover;
  border-radius: 8px;
  object-position: top;
}

.artwork {
  margin: 0;
  width: 100%;
}

.artwork__info {
  padding-top: 1rem;
  text-align: right;
  font-family: var(--font-raleway);
  font-size: 0.875rem;
}

.artwork__title {
  display: block;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0.25rem;
}

.artwork__meta {
  display: block;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.reveal-container {
  position: relative;
  overflow: hidden;
}

.img-base {
  filter: grayscale(100%);
}

.img-reveal {
  position: absolute;
  top: 0;
  left: 0;
  --x: 50%;
  --y: 50%;
  --size: 150px;
  mask-image: radial-gradient(
    circle at var(--x) var(--y),
    black 0%,
    black var(--size),
    transparent calc(var(--size) + 20px)
  );
  -webkit-mask-image: radial-gradient(
    circle at var(--x) var(--y),
    black 0%,
    black var(--size),
    transparent calc(var(--size) + 20px)
  );
  pointer-events: none;
  transition: --x 0.5s ease-out, --y 0.5s ease-out;
}

.works__grid {
  display: grid;
  gap: 2rem;
  justify-content: center;
}

.works__title {
  font-size: clamp(2rem, 10vw, 5rem);
  text-transform: uppercase;
}

.works_gallery {
  width: 100%;
}

.project-card {
  width: 100%;
  aspect-ratio: 3/4;
  border: 1px solid black;
}

@media (width > 768px) {
  .works__grid {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .works__intro {
    position: sticky;
    top: 7rem;
  }

  .works__action {
    grid-column: 1/3;
    display: grid;
    justify-content: center;
  }
}
