@import url("type/type.css");
@import url("reset.css");

* {
  transition: all 0.5s;
}

:root {
  --color-neutral-50: oklch(0.985 0 0);
  --color-neutral-100: oklch(0.97 0 0);
  --color-neutral-200: oklch(0.922 0 0);
  --color-neutral-300: oklch(0.87 0 0);
  --color-neutral-400: oklch(0.708 0 0);
  --color-neutral-500: oklch(0.556 0 0);
  --color-neutral-600: oklch(0.439 0 0);
  --color-neutral-700: oklch(0.371 0 0);
  --color-neutral-800: oklch(0.269 0 0);
  --color-neutral-900: oklch(0.205 0 0);
  --color-neutral-950: oklch(0.145 0 0);

  --color-blue-50: oklch(0.97 0.014 254.604);
  --color-blue-100: oklch(0.932 0.032 255.585);
  --color-blue-200: oklch(0.882 0.059 254.128);
  --color-blue-300: oklch(0.809 0.105 251.813);
  --color-blue-400: oklch(0.707 0.165 254.624);
  --color-blue-500: oklch(0.623 0.214 259.815);
  --color-blue-600: oklch(0.546 0.245 262.881);
  --color-blue-700: oklch(0.488 0.243 264.376);
  --color-blue-800: oklch(0.424 0.199 265.638);
  --color-blue-900: oklch(0.379 0.146 265.522);
  --color-blue-950: oklch(0.282 0.091 267.935);

  --font-safiro: "safiromedium";
  --font-open-sans: "Open Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-safiro);
}

body {
  font-family: var(--font-raleway);
  background-color: var(--color-neutral-50);
}

.header {
  display: grid;
  grid-template-rows: max-content auto;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 5rem;
}

.header .main-navigation {
  display: none;
}

.header--active {
  background-color: var(--color-blue-200);
  height: 100vh;
}

.header--active .header__container_menu_button {
  background-color: var(--color-neutral-950);
  color: var(--color-neutral-50);
}

.header--active .main-navigation {
  display: flex;
}

.header__container {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.header__container_logo {
  font-family: var(--font-safiro);
  font-size: 1.75rem;
  text-transform: lowercase;
}

.header__container_menu_button {
  background-color: var(--color-blue-200);
  color: var(--color-neutral-950);
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0.75rem 1.25rem;
  border-radius: 100rem;
  line-height: 1;
}

.header__container_menu_button:hover {
  background-color: var(--color-neutral-950);
  color: var(--color-neutral-50);
}

.main-navigation {
  flex-direction: column;
  justify-content: start;
  margin: 1rem;
  border-top: 1px solid var(--color-blue-100);
}

.main-navigation-item:hover a {
  border-width: 2px;
}

.main-navigation-item a {
  width: 100%;
  display: grid;
  grid-template-columns: auto max-content;
  gap: 1rem;
  justify-content: space-between;
  align-items: end;
  padding: 1rem 0;
  height: 5rem;
  border-bottom: 1px solid var(--color-neutral-950);
}

.main-navigation-item span:first-child {
  font-size: 0.75rem;
  font-family: var(--font-raleway);
  font-weight: 400;
}

.main-navigation-item span {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--font-safiro);
}

.main__container {
  padding: 1rem;
  padding-top: 5rem;
}

.main__hero {
  display: grid;
  gap: 1rem;
  text-align: center;
  justify-content: center;
}

.main__hero_title {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: 1.25;
}

.main__hero_subtitle {
  line-height: 1.65;
}

.main__hero_svg {
  width: 2rem;
  color: var(--color-neutral-500);
  margin-left: auto;
  margin-right: auto;
}
